* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.waterCont {
  height: 110px;
  overflow: hidden;
}

.water-pos {
  position: relative;
  bottom: 20px;
}

.nav-logo {
  width: 150px;
}

.footer-logo {
  width: 150px;
}

.social-logo {
  width: 15px;
  margin-right: 3px;
}

.bg-darkblue {
  background-color: rgb(36, 59, 117);
}

.text-darkblue {
  color: rgb(36, 59, 117);
}

.phone-icon {
  width: 15px;
  height: 15px;
}

.footer-b-right {
  border-right: 1px solid white;
}

.footer-b-bottom {
  border-bottom: 1px solid white;
}

.filter-b-right {
  border-right: 1px solid rgb(164, 164, 164);
}

.shadow {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.border-cyan {
  border-color: rgb(0, 255, 186);
}

.tw-black {
  font-weight: 900;
  font-size: 19px;
}

.tw-light {
  font-weight: 300;
}

.nav-border {
  border-top: 3px solid rgb(4, 223, 204);
  border-bottom: 3px solid rgb(4, 223, 204);
}

.nav-link-border {
  border-bottom: 1px solid white;
}

.fs-small {
  font-size: 12px;
}

.fs-med {
  font-size: 15px;
}

.fs-large {
  font-size: 19px;
}

.fs-xl {
  font-size: 25px
}

.color-cyan {
  color: rgb(4, 223, 204);
}

.filterMobile {
  display: flex;
  flex-flow: row nowrap;
}

.bg-white {
  background-color: white;
}

.border-light {
  border: 1px solid rgb(199, 197, 199);
}

.border-collapse {
  border-collapse: collapse;
}

.ol-0:active {
  outline: none;
}
